* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* text 속성을 통일시키기 위한 css */

.m_text {
  /* 중간크기 text 속성 */
  font-weight: 800;
  font-size: 14px;
}

.s_text {
  /* 작은크기 text 속성 */
  font-size: 12px;
}

body {
  background-color: #fafafa;
}

article {
  width: 600px;
  height: 820px;
  border: 1px solid #00000030;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #ffffff;
}

header {
  display: flex;
  padding: 10px 20px;

}

header .profileimg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

/* 이미지 크기 맞추기 */
.img_section img {
  width: 100%;
  height: 550px;
}

.icon {
  padding-left: 15px;
  position: relative;
}

.icon>img {
  width: 30px;
  margin-top: 5px;
}

.icon :nth-child(4) {
  /* 4번째 아이콘만 오른쪽에서부터 10px 옮기기 */
  position: absolute;
  right: 15px;
}

.contents,
.likes,
.time {
  margin: 10px 15px;
}

/*time과 comment 사이에 줄을 긋고 싶다!
comment 위쪽에 테두리 주기*/

.comment {
  border-top: 1px solid #0000002a;
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.comment>input {
  width: 80%;
  border: none;
  outline: none;
  margin: 5px;
  padding: 3px;
}

.comment>p {
  border: 1px solid #7a9dfd;
  padding: 5px;
  margin: 8px;
  border-radius: 10px;
  font-weight: 600;
  color: #7a9dfd;
  text-align: center;
  /* opacity: 0.5;
  투명도만 설정하는 속성*/
}

.comment>p:hover {
  background-color: #7a9dfd;
  color: #ffffff;
}